body{

    font-family: 'MuseoModerno', monospace;
    color: black;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina{
    width: 900px;
}

.cabecalho{
   display: flex;
   justify-content: center;
}

.cabecalho img{
    width: 300px;
}

.menus{
    display: flex;
}

.menus .menu{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.menus .menu.selecionado{
    background-color: tomato;
}

.menus .menu{
    background-color: #FF914D;
}

.menus .menu:hover{
   background-color: tomato; 
}

.frase{
    text-align: center;
    font-size: 40px;
    padding: 30px;
    background-color: floralwhite;
    border: 5px solid dimgrey;
    border-style: groove;
    border-radius: 100px;
}

.sub-titulos{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: dimgray;
    padding-block-start: 80px;
    padding-block-end: 20px;
    font-size: 35px;
    color: #ff6200;
}

.informacoes-abas .informacao{
    display: none;
    padding: 30px;
}

.info{
    padding: 30px;
    font-size: 20px;
    text-align: justify;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .informacao span{
    color: tomato;
    font-size: larger;
}

.info-img{
    display: flex;
    justify-content: center;
}

.img-app{
    width: 500px;
}

.img-divulgacao{
    width: 900px;
}

.rodape img{
    width: 150px;
    background-color: cornsilk;
    border-radius: 10px;
    border: 5px ridge gray;
}

.rodape a{
    color: cornflowerblue;
    background-color: black;
}

.rodape{
    background-color: #FF914D;
    text-align: center;
    padding-top: 50px;
    padding-block-end: 20px;
}

.nomesoftware{
    font-size: 25px;
    color: whitesmoke;
    padding-top: 10px;
}

.nomeempresa{
    font-size: 15px;
    color: black;
    padding-top: 10px;
}

.formulario{
    text-align: center;
    padding: 50px;
}

.txt-form{
    font-size: 20px;
    background-color: #FF914D;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    width: 500px;
}

.caixa-texto{
    font-size: 15px;
    border-width: 3px;
    border-radius: 10px;
    border-color: #FF914D;
    padding: 5px;
    width: 500px;
}

.botao{
    background-color: #FF914D;
    color: whitesmoke;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border: 5px ridge silver;
    font-size: 15px;
    cursor: pointer;
}

.robot{
    display: flex;
    justify-content: center;
}

.robot img{
    width: 250px;
}

.observacoes{
    padding-block-end: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-size: 11px;
}

.observacoes span{
    color: #ff6200;
    font-size: large;
}

/*Espaço para acesso ao código*/
.codigo{
    text-align: center;
}
.codigo img{
    width: 60px;
}
.codigo span{
    color: #ff6200;
    font-size: large;
}


.areaBtnLogin{
    display: grid;
    width: 400px;
    margin: 0 auto;
}

.areaBtnLogin img{
    width: 350px;
    margin: 0 auto;
}

.areaBtnLogin button{
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 2px lightgrey;
    cursor: pointer;
    font-size: 25px;
}

.areaBtnLogin button:hover{
    transform: scale(1.1);
}





.popupFundo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* cor de fundo com transparência */
}

.popLogin {
    width: 900px;
    height: 600px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 150px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 40px;
}

.popLogin .icon{
    width: 230px;
    margin: 30px;
}

.popupFechar {
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}